Body {
  background: #333;
  overflow: hidden;
  height: 100dvh;
}

/* TODO: This is not the right way to deal with chakra UI "rings"*/
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
/*TODO: for some reason the background color and hover don't work in style sheet??*/
.WarningModalButton {
  background-color: brown;
  border: 2px solid gold;
  outline: 2px solid black;
  text-shadow: 0px 0px 2px gold;
  transition: all 0.3s ease-in-out;
}
.WarningModalButton:hover {
  background-color: gold;
  border: 2px solid brown;
}

.Stats ul {
  margin: 0px;
}

.Stats li {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
}

.OverlayImage {
  z-index: 2;
}

/* TODO: improve responsive design. This removes the drummer and monk on mobile size, so it's roughly playable.*/
@media screen and (max-width: 800px) {
  .OverlayImage {
    display: none;
  }
}

.MemoryGameLayout {
  margin-top: 1em;
  position: absolute;
}

.MemoryGameLeft,
.MemoryGameRight {
  margin: 2vw;
  margin-top: 0vh;
  margin-bottom: 2vh;
  display: grid;
  /* height: 100%; */
  grid-template-columns: repeat(2, 1fr);
  gap: 2vh 2vw;
}

.MemoryGameLeft {
  gap: 1vh 2vw; /* smaller left side due to larger Noh_drummer image at bottom */
}

.GameCard {
  position: relative;
  width: 100%;
  z-index: 1;
}

.GameCard .CardReverse {
  width: 100%;
  display: absolute;
  border: 3px solid gold;
  border-radius: 5px;
  box-shadow: "0px 12px 2px brown";
  outline: 3px solid black;
  transition: all ease-out;
  transition-delay: 0.15s;
}

.flipped .CardReverse {
  transform: rotateY(90deg);
}

.GameCard .CardFront {
  transform: rotateY(90deg);
  position: absolute;
  transition: all ease-out 0.15s;
  width: 100%;
  display: block;
  border: 3px solid brown;
  border-radius: 5px;
  outline: 3px solid black;
}

.flipped .CardFront {
  transform: rotatey(0deg);
  transition-delay: 0.15s;
}

.Folklore {
  /* background-image: url('./Assets/UI/brown_UI_Box.png'); */
  background-size: "100% 100%";
  border: "3px solid black";
  box-shadow: "0px 2px 2px brown";
  color: goldenrod;
  width: "10vw";
  height: "5vh";
  position: "relative";
  top: "-2vh";
  transition: "border 0.3s ease-in-out";
  /* _hover: {{
  background-image: url('./Assets/UI/brown_UI_Box.png'),
  border: "2px solid gold" }};
  _active:{{
      background-image: url('./Assets/UI/brown_UI_Box.png'),
      border: "2px solid gold" }}; */
}
